<% include ./partials/header %>


<div>

<div class="container container-fluid">
	<h1>Search again!
	<a href="/search" class="btn btn-warning btn-lg">Search Roommates</a></h1>
	<br><br>
	<h2>Here are the Search results</h2><br>
	<% for(let i = 0; i < Math.min(6,searchResults.length); i++) { %>
	<div class="col-md-4">
		<div class="panel panel-primary userpanel">
			<div class="panel-heading"><%= searchResults[i].google.name %></div>
			<br>Age:<%= searchResults[i].age %> Gender:<% if(searchResults[i].gender==0) {%> Male <%}else{ %> Female <% } %>
			<br>Diet:<% if(searchResults[i].dietary==0) {%> Veg <%}else{ %> Non-veg <% }%>
			<br>Smoke:<% if(searchResults[i].smoking==0) {%> Non-Smoker <%}else{ %> Smoker <% }%>
			<br>Drinker:<% if(searchResults[i].drinking==0) {%> Yes <%}else{ %> No <% }%>
			<br>Willing to Share room?:<% if(searchResults[i].room==0) {%> Yes <%}else{ %> No <% }%>
			<br>Pet-friendly:<% if(searchResults[i].pet==0) {%> No <%}else{ %> Yes <% }%>
			<br>Visitor-friendly:<% if(searchResults[i].visitors==0) {%> No <%}else{ %> Yes <% }%>
			<br>Min-Budget:<%= searchResults[i].min_budget %> Max-Budget:<%= searchResults[i].max_budget %>
			<br>About me:<%= searchResults[i].summary%>	</div>
			<!--
			<div class="panel-body">Age:<%= searchResults[i].age %> Gender:<% if(searchResults[i].gender==0) {%> Male <%}else{ %> Female <% } %></div>
			<div class="panel-body">Diet:<% if(searchResults[i].dietary==0) {%> Veg <%}else{ %> Non-veg <% }%></div>
			<div class="panel-body">Smoke:<% if(searchResults[i].smoking==0) {%> Non-Smoker <%}else{ %> Smoker <% }%></div>
			<div class="panel-body">Willing to Share room?:<% if(searchResults[i].room==0) {%> No <%}else{ %> Yes <% }%></div>
			<div class="panel-body">Pet-friendly:<% if(searchResults[i].pet==0) {%> No <%}else{ %> Yes <% }%></div>
			<div class="panel-body">Visitor-friendly:<% if(searchResults[i].visitors==0) {%> No <%}else{ %> Yes <% }%></div>
			<div class="panel-body">Min-Budget:<%= searchResults[i].min_budget %> Max-Budget:<%= searchResults[i].max_budget %> </div>
			<div class="panel-body">About me:<%= searchResults[i].summary%></div>-->
			</div>
		</div>
	</div>
	<% } %>
</div>
<style>
	.userpanel{
		margin:2em;
	}
</style>
</body>
<% include ./partials/footer %>